.card {
    max-width: 600px;
    -ms-flex-preferred-size: 44%;
    flex-basis: 44%;
}

.card__title {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 32px;
}

.card__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;

}

.card__list-item {
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0;
    gap: 6px;
}

.card__list-divider {
    border-bottom: #fff solid 1px;
    flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
}
