.form {
    margin: 0 auto;
    max-width: 385px;
    margin-top: 80px;
    padding-bottom: 120px;
}

.form__fieldset {
    border: none;
    margin: auto;
    max-width: 385px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}

.form__label {
    margin-bottom: 8px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
    font-style: normal;
    -ms-flex-item-align: start;
    align-self: flex-start;

}
.form__label:last-of-type {
    margin-bottom: 0;
}

.form__input {
    border: #838383 solid 4px;
    width: 100%;
    height: 60px;
    margin-bottom: 32px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form__input::-webkit-input-placeholder {
    color: #838383;
}

.form__input::-moz-placeholder {
    color: #838383;
}

.form__input:-ms-input-placeholder {
    color: #838383;
}

.form__input::-ms-input-placeholder {
    color: #838383;
}

.form__input::placeholder {
    color: #838383;
}

.form__input:focus-visible {
    outline-color: #2f80ed;
}

.form__input[type="datetime-local"]:invalid::-webkit-datetime-edit {
    color: #838383;
}

.form__button {
    height: 60px;
    width: 100%;
    max-width: 385px;
    margin-bottom: 32px;
    background-color: #2f80ed;
    color: #fff;
    cursor: pointer;
    border: #2f80ed solid 4px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form__button:hover {
    opacity: 0.7;
}


.form__fieldset:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}


.form__checkbox {
    margin-right: 12px;
}


[type="checkbox"] {
    cursor: pointer;
    display: inline-block;
}


[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 67px;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    outline: #838383 solid 2px;
    background-color: #D9E7FF;
}

[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 67px;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    outline: #838383 solid 2px;
    background-color: #2f80ed;
    background-image: url(../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
