.header {
    background-image: url(../images/background_header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    position: relative;
}


.header__title {
    padding-top: 202px;
    padding-left: 80px;
    max-width: 729px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;

}

.header__span-accent {
    display: block;
    color: #2f80ed;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
}

.header__description {
    padding-left: 80px;
    max-width: 683px;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    line-height: 30px;
}

.header__image {
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
}


.header__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
    left: 80px;
    right: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    color: #6f6f6f;
}

.header__paragraph-item {
    margin: 0;
}

.header__paragraph {
    margin: 0;
}
