@import url(../vendor/normalize.css);

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;

}

.header {
    background-image: url(../images/background_header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    position: relative;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 125px;
    height: 142px;
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 80px;
}

.nav__links {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 30px;
    padding-right: 80px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 20px;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s linear;
}

.nav__link:hover {
    color: #2f80ed;
}

.header__title {
    padding-top: 202px;
    padding-left: 80px;
    max-width: 729px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;

}

.header__span-accent {
    display: block;
    color: #2f80ed;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
}

.header__description {
    padding-left: 80px;
    max-width: 683px;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    line-height: 30px;
}

.header__image {
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
}

.header__footer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.header__hours-list {
    list-style: none;
    padding-left: 80px;
    margin: 0;
}

.header__address {
    padding-right: 80px;
}

.menu {
    background-color: #0a2750;
    background-image: url(../images/background_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 1024px;
}

.menu__title {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    font-size: 44px;
    line-height: 52px;

}

.menu__subtitle {
    max-width: 780px;
    margin: 0 auto;
    padding-top: 24px;
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    line-height: 30px;
}

.menu__cards {
    width: 1300px;
    height: 588px;
    margin: 100px auto 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card {
    width: 600px;
    max-width: 600px;
}

.card__title {
    margin: 0;
    padding-bottom: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.card__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__list-item {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
}

.card__list-divider {
    border-bottom: #fff solid 1px;
    flex-grow: 1;

}

.card__theme_baked-goods {
    margin: 100px auto 0;
}

.recipes {
    background-color: #ffffff;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.recipes__title {
    margin: 0;
    max-width: 580px;
    padding-left: 80px;
    padding-top: 100px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.recipes__subtitle {
    margin: 0;
    max-width: 438px;
    padding-top: 24px;
    padding-left: 80px;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    line-height: 30px;
}

.recipes__videos {
    width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 215px;
    display: flex;
    gap: 40px;
}

.recipes__video-caption {
    display: flex;
    justify-content: space-between;
}

.recipes__video-caption-item {
    margin: 0;
    padding-top: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.reservation {
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reservation__title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    line-height: 52px;
    padding-top: 100px;
}

.reservation__form {
    margin: 0 auto;
    max-width: 385px;
    padding-top: 80px;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.form__label {
    padding-bottom: 8px;
}

.form__input {
    border: #838383 solid 4px;
    max-width: 385px;
    height: 60px;
    margin-bottom: 32px;
}

.form__input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.form__fieldset-terms {
    border: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 12px;
}

.form__checkbox {
    width: 20px;
    height: 20px;
}
