@import url(/vendor/normalize.css);

@import url(/blocks/page.css);

@import url(/blocks/header.css);

@import url(/blocks/menu.css);

@import url(/blocks/recipes.css);
@keyframes pulsate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 60%;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}


.reservation {
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reservation__title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    line-height: 52px;
    padding-top: 100px;
    margin: 0;
}

.reservation__form {
    margin: 0 auto;
    max-width: 385px;
    padding-top: 80px;
}

.reservation__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
}

.reservation__label {
    padding-bottom: 8px;
}

.reservation__input {
    border: #838383 solid 4px;
    max-width: 385px;
    height: 60px;
    margin-bottom: 32px;
}

.reservation__input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.reservation__button {
    height: 60px;
    color: #fff;
    background-color: #2f80ed;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.reservation__button:hover {
    opacity: 70%;
}

.reservation__fieldset-terms {
    border: none;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 0 0 120px;
}

.reservation__label_theme-terms {
    margin-left: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.reservation__checkbox {
    appearance: none;
}

[type="checkbox"]  {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    outline: #838383 solid 2px;
    background-color: #D9E7FF;
}


[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: -12px;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    outline: #838383 solid 2px;
    background-color: #2f80ed;
    background-image: url(../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    background-color: #0a2750;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.about__title {
    max-width: 251px;
    padding-left: 80px;
    padding-top: 100px;
    margin: 0;
    z-index: 1;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}
.about__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 119px;
    padding-bottom: 173px;
    padding-right: 80px;
    max-width: 660px;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    line-height: 30px;
}

.about__paragraph {
    margin: 0;
}

.about__circle {
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    position: absolute;
    top: -152px;
    left: -129px;
}

.about__circle_animation_blurred {
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    position: absolute;
    top: -152px;
    left: -129px;
    animation: pulsate 1.3s ease-in-out infinite;
}

.footer {
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
    color: #fff;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    padding: 60px 100px 108px 80px;

}
.footer__logo {
    width: 116px;
    height: 21px;
}

.footer__social-heading {
    margin: 0;
    text-align: end;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.footer__list {
    margin: 0;
    padding-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__social-icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.footer__social-link {
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    transition: color 0.3s linear;
}

.footer__social-link:hover {
    color: #c1c1c1;
}

.footer__copyright {
    padding-bottom: 60px;
    padding-left: 80px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
}
